.intro-container {
  width: 60%;
}

.nav-butt-extended {
  border-radius: 7px;
  font-size: 1.1rem;
  font-weight: 600;
}

.tech-stack td {
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
