@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

:root {
  --bg_color: #171421;
  --white: #DEDEDE;
  --blue: #5682ff;
  --teal: #00a2cc;
  --mid_teal: #00657f;
  --dark_teal: #004D61;
}

body {
  background-color: var(--bg_color);
  color: var(--white);
  font-family: 'Verdana';
  font-size: 15px;
}

a {
  color: var(--blue);
}


.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  animation: fadeIn 0.3s;
}

.tab-bar h1 {
  /* font-family: 'Times New Roman'; */
  font-weight: 600;
  font-size: 1.8rem;
}

.nav-button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  margin: 2px;
  background-color: var(--teal);
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-button:hover {
  background-color: var(--dark_teal);
  transform: scale(1.02);
}
.nav-button.active {
  background-color: var(--mid_teal);
  pointer-events: none;
}
