body {
  background-color: #171421;
  color: #DEDEDE;
}

a {
  color: #5682ff;
}


.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}

.nav-button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  margin: 2px;
  background-color: #00a2cc;
  color: white;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #004D61;
  transform: scale(1.02);
}
.nav-button.active {
  background-color: #00657f;
  pointer-events: none;
}


.content {
  overflow-y: auto;
  margin-top: 0px;
  margin-left: 10px;
}
.content h1 {
  text-align: center;
  margin: 15px;
}
.content p {
  font-size: 18px;
}
