.content {
  padding-top: 10px; 
  justify-items: initial;
}

.project-window {
  display: flex;
  background-color: var(--bg_alt);
  border: 1px solid var(--teal);
  border-radius: 10px;

  width: 85%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-left: auto;
  margin-right: auto;
}

.project-window img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -5px;
  max-width: 40%;
}

.project-window h1 {
  font-size: 1.5rem;
}
